html, body {
  margin: 0;
  padding: 0;
  background: #000c03;
  color: #229bff;
  font-family: 'Courier New', monospace;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
#output {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

#output div {
  max-width: 100%;
  overflow-x: auto;
  white-space: normal;
  word-break: break-word;
}

#output span {
  word-break: break-word;
  white-space: normal;
}
#output pre {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
}
.white {
  color: #ffffffb0;
  line-height: 1.2;
}

::selection {
  background: hsl(184, 99%, 30%);
  color: #350053;
}

.terminal {
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.prompt {
  color: #33ff33;
  margin-right: 5px;
}
@media (max-width: 512px) {
  .white {
    font-size: 12px;
  }
}
.help-line {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.help-line span:first-child {
  min-width: 140px;
}

@media (max-width: 469px) {
  .help {
    font-size: 15px;
    line-height: 1.3;
  }
  .help-line span:first-child {
    min-width: 80px;
  }
}


.input-line {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 2px;
  width: 100%;
}

.input-line .prompt {
  white-space: nowrap;
}

#input {
  background: transparent;
  border: none;
  font: inherit;
  outline: none;
  width: 100%;

    caret-color: #33ff33;
  color: #33ff33;
}

a {
  color: #33ffcc;
  text-decoration: underline;
}

.line {
  line-height: 1.5;
}

.glow {
  color: #33ff33;
  font-weight: bold;
  text-shadow: 0 0 5px #33ff33, 0 0 10px #33ff33;
}

.whiteglow {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #33ff33;
}

.redglow {
  color: #ff3333;
  font-weight: bold;
  text-shadow: 0 0 5px #ff7433, 0 0 10px #ff3333;
}
.yellowglow {
  color: #ffeb3b;
  font-weight: bold;
  text-shadow:
    0 0 5px #fff176,
    0 0 10px #fdd835;
}


.red {
  color: #ff3333;
  font-weight: bold;
}

.yellow {
  color: #fdd835;
  font-weight: bold;
  opacity: 50%;
}


/* .cursor {
  display: inline-block;
  min-width: 8px;
  height: 16px;
  background: #33ff33;
  animation: blink 1.2s linear infinite;
} */

/* @keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

h3 {
  line-height: 1;
  margin: 8px 0;
}
#output {
  overflow-x: auto;
  word-break: break-all;
}

#output div,
#output pre {
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: anywhere;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
  overflow-wrap: anywhere;
}
